<div class="card">
    <div class="front" (click)="reestablecer('front')" [ngClass]="restore ? 'reestablecerFront' : 'blue'">
        <img [src]="dates.image" alt="" class="card-img">
    </div>
    <div class="back" (click)="reestablecer('back')" [ngClass]="restore ? 'reestablecerBack' : 'blue'">
        <div class="back-character back-cotainers"><h2 class="character">{{dates.character}}</h2></div>
        <div class="back-quote back-cotainers"><h2 class="quote">{{dates.quote}}</h2></div> 
        <button *ngIf="position != '' " class="btn-ver" (click)="openCard()">Ver</button>       
    </div>
</div>

 
