.card{
    position: relative;
    width: 100%;
    height: 100%;      
    .front,.back{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        backface-visibility: hidden;
        transition:transform 1s;
        cursor: pointer;
        background-color: #ffffff52; 

        &:hover{           
            box-shadow: 0px 0px 22px 6px rgb(3, 245, 245);
            border:1px solid rgb(2, 133, 255);
        }
    }    
    .front{ 
        transform: perspective(500px) rotateY(0deg);
        padding: 10px;     
        
        .card-img{
            width: 100%;
            height: 100%;            
        }
    }
    &:hover .front{    
        transform: perspective(500px) rotateY(180deg);  
    }
    .back{ 
        transform: perspective(500px) rotateY(180deg);              
        box-shadow: 0px 0px 22px 6px rgb(3, 245, 245);
        border:1px solid rgb(2, 133, 255);  
        display: flex;
        flex-direction: column;
        position: relative;
        .back-cotainers{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
        }
        .back-character{
            width: 100%;
            height: 20%;      
            .character{
                text-align: center;
            }               
        }     
        .back-quote{
            width: 100%;
            height: 80%;          
            
            .quote{
                font-size: 14px;                
                text-align: center;
            }
        }  
        .btn-ver{
            border: 2px solid black;
            padding: 10px 20px;
            background-color: white;
            border-radius: 50px;
            color:black;            
            position: absolute;
            bottom: 20px;
            font-weight: bold;            
        }        
    }
    &:hover .back{    
        transform: perspective(500px) rotateY(360deg);               
    }
}
.reestablecerFront{
    transform: perspective(500px) rotateY(0deg) !important;    
}
.reestablecerBack{
    transform: perspective(500px) rotateY(180deg) !important;  
}


