.dialog-img-container{    
    height: 500px; 
    position: relative;  
    .dialog-img{
        width: 100%;
        height: 100%;
    }
    .equis{
        width: 30px;
        height: 30px;
        background-color: black;
        position: absolute;
        top:0;
        right:0;
        clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
        cursor: pointer;
        &:hover{
            background-color: aqua;
        }      
    }
}
@media(min-width:1000px){
    .dialog-img-container{
        width: 400px;
    }
}
        
