.card-container{    
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(213px, 1fr));
    grid-auto-rows: minmax(300px,auto);
    gap:20px;     
    margin-top: 20px; 
    padding-bottom: 50px;    
}
