<div  class="card-container">       
    <app-card *ngFor="let personaje of personajes" [dates]="personaje" (click)="openDialog(personaje.image)" (openDialog)="open($event,personaje.image)"></app-card>    
</div>

