.header-container{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;    
    border-radius: 50px;
    height: 50px;  
    .header-title{
        font-size: 30px;
        font-weight: bold;
    }
}
@media(min-width:1000px){
    .header-container{
        height: 100%;  
    }
    .header-title{
        font-size: 50px;
    }
}