<div class="home-container">
    <div class="main-header-container">   
        <app-header></app-header>       
    </div>
    <div class="home-main-content">            
        <router-outlet></router-outlet>    
    </div>
</div>



