.home-container{
    width: 100%;
    height: 100%;    
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    overflow: auto;  
    &::-webkit-scrollbar {
        background-color: #FFCB01;
        width: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: white;
        border-radius: 5px;
        border: 2px solid black;
    }
    .main-header-container{
        width: 100%;
        height: 50px;                       
    }
    .home-main-content{
        width: 100%;                          
    }
}
@media(min-width:1000px){
    .main-header-container{        
        height: 60px !important;        
    }
    .home-main-content{      
        height: calc(100% - 60px ) !important;        
    }
}